body{
    margin: 0;
    padding: 0;
    user-select: none;
    cursor-b
}
.wrapper {
    background-color: #003366;
    background-image: url(bg.png);
    background-repeat: no-repeat;
    width: 300px;
    height: 250px;
    position: relative;
    
}
.hidden{
    display: none;
}
.absolute{
    position: absolute;
}

.logo{
    top: 5px;
    left: 5px;
    position: absolute;
}
.text{
    top: 18px;
    left: 75px;
    position: absolute;
}
.button{
    top: 200px;
    left: 120px;
    position: absolute;
}
#cursor{
    top: 92px;
    left: 30px;
    position: absolute;
}
    .content {
        display: flex;
        justify-content: center;
        align-items: center;

        margin-right: 40px;


    }
    .button, .shareButton ,.handwash{
        cursor: pointer;
        animation-name: example;
  animation-duration: 1s;
  animation-iteration-count:infinite;
    }


 
    .button-holder {
        margin-top: 20px;
        margin-left: -30px;
        justify-content: center;
        align-items: center;
        display: flex;

    }

    .text5{
        top: 125px;
        left: 65px;
        position: absolute;
    }
    .losetext2{
    top: 75px;
    left: 58px;
    position: absolute;
    }
    #counter{
        color: #003366;
        font-size: 35px;
         padding-left: 26px;
        padding-top: 10px;
    }
    .progressbar{
        background-image: url('progressLine.png');
        background-repeat: no-repeat;
        top: 108px;
        left: 46px;
        width: 192px;
        height: 11px;
        position: absolute;
    }
.wintext2{
    top: 180px;
    left: 50px;

}



    .border {
        width: 88px;
        height: 116px;
        top: 75px;
        left: 108px;
        position: absolute;
        background-image: url("border.png");
        background-size: contain;
        background-repeat: no-repeat;

    }

  

    .box {
       top: 16px;
       left: 13px;
        background-image: url("fresh_hand.png");
        background-repeat: no-repeat;
        position: absolute;
        width: 63px;
        height: 94px;
        filter: blur(4px);


    }


.shareButton{
    top: 170px;
    left: 96px;
    position: absolute;
}
    .circle {
        background-image: url('pointer.png');
        background-repeat: no-repeat;
        width: 19px;
        height: 18px;
        position: absolute;
        top: -3px;
    }


    canvas {
        background: transparent;
        width: 63px;
        height: 94px;

    }
    .hide {
       visibility: hidden;
    }
    .container{
    
          
   background-color: #003366;
       padding-top: 10%;
 

       
        justify-content: center;
        align-items: center;
        padding: auto;
        vertical-align:middle;
       




    }
    html {
        /* cursor: url(cursor.png) 10 3, auto; */
        overflow: hidden;
        /* Hide scrollbars */
    }
    @media only screen and (max-height: 770px) {
     .container{
        padding-top: 1%;
     }

 .wintext2{
         margin-top: 30;


     }

  
}

    @keyframes example {
      0% {transform: scale(1);}
      50% {transform: scale(1.1);
      100% {transform: scale(1);}
    }  
